div.typo3-bigDoc,div.typo3-noDoc,div.typo3-smallDoc,div.typo3-mediumDoc {
	height:99%;
	overflow: auto;
}

div.typo3-bigDoc {
  width: 97%;
}

table.commentsbe {
  border-collapse: collapse;
  width: 100%;
}

table.commentsbe tr th {
  font-size: 10px;  
  text-align: left;
  background: #A9B0BD;
  color: #fff;
  padding: 4px 4px 4px 0;
}

table.commentsbe tr td {
  padding: 4px 0;
}

table.commentsbe tr th.id {
  padding: 4px 4px 0 4px;
}

table.commentsbe tr:hover {
  background: #EBEBEB;
}

table.commentsbe tr td.img { 
  text-align: center;
}

table.commentsbe tr td.date { 
  width: 130px;
}

table.commentsbe tr td.name { 
  width: 150px;
}

.div-float {
  float: right;
}